.App {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    /* Blur the image in background*/
    background-image: url(assets/img/whotdyouprefer-background-blurred.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 100% !important;
    min-height: 100vh;
    max-width: 100% !important;
}

.App-logo {
    height: 20vmin;
    pointer-events: none;
}

.App-Card {
    background: rgba(224, 224, 224, 0.9);
    padding: 4vh 8vh;
    margin: 10vh;
}

.Wallet-Provider-Image {
    height: 20vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-linear;
    }
}

.App-welcome {
    font-size: 7vmin;
    /*font-weight: bold;*/
    font-family: 'Montserrat', serif !important;
    margin-top: 1vmin;
    margin-bottom: 5vmin;
}

.App-header {
    background-color: #FFFFFF;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: #344aa4 !important;
}

.App-link {
    color: #61dafb;
}

.App-Button-Link {
    color: #ffffff;
    text-decoration: none;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* Mantine overloading */
.mantine-Container-root {
    padding-left: 0;
    padding-right: 0;
}